@tailwind base;
@tailwind components;
@tailwind utilities;



.dcam-btn {
    @apply py-2 px-3 rounded bg-gray-300 text-black hover:bg-dcam-green hover:text-gray-100
}

.dcam-btn-active {
    @apply bg-green-600
}

.dcam-btn-inactive {
    @apply bg-gray-400
}

.dcam-btn-rounded {
    @apply border border-gray-700 p-1 rounded hover:bg-white
}

/* CSS to fade out the current content */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  
  /* CSS to fade in the new content */
  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }